---
import { buttonVariants } from "@/styles/variants/button";
---

<section
  class="container mx-auto flex flex-col items-center justify-center overflow-hidden min-h-screen px-4 lg:px-0"
>
  <h1
    class="text-primary lg:max-w-2xl mx-auto text-center text-3xl lg:text-4xl font-extrabold"
  >
    Make Your WhatsApp Messages Stand Out with Easy Link Generation
  </h1>
  <p
    class="text-lg lg:text-xl text-muted-foreground mt-5 mx-auto lg:max-w-2xl text-center"
  >
    Format your message with bold, italic, and more before sharing with a single
    link. Preview in real time and generate your link instantly.
  </p>
  <div class="mt-8 flex justify-center">
    <a href="#generator" class={buttonVariants()}
      >Generate Your Link Now - Free!</a
    >
  </div>
</section>
