.buble_chat_editor {
  :global {
    .tiptap {
      outline: none;
      position: relative;

      & > p.is-editor-empty:first-child::before {
        color: var(--color-muted-foreground);
        content: attr(data-placeholder);
        pointer-events: none;
        position: absolute;
        inset: 0;
      }

      ol,
      ul {
        margin-top: 4px;
        margin-bottom: 4px;
      }

      ol {
        margin-left: 20px;

        li {
          padding-left: 2px;
        }
      }

      ul {
        list-style: none;
        margin-left: 8px;

        li {
          display: flex;
          &::before {
            content: "\2022";
            font-size: 11px;
            color: rgb(17, 27, 33);
            margin-left: 3px;
            margin-right: 5px;
            vertical-align: text-bottom;
          }
        }
      }

      ol {
        list-style: decimal;
      }

      code:not(.font-mono) {
        padding: 2px 4px;
        background-color: rgba(11, 20, 26, 0.05);
        border-radius: 4px;
        color: rgba(17, 27, 33, 0.7);
      }

      blockquote {
        color: rgba(17, 27, 33, 0.65);
        border-left: 3px solid rgba(17, 27, 33, 0.65);
        padding-left: 15px;
        margin-top: 4px;
        margin-bottom: 4px;
      }

      a {
        color: #0063cb;
        font-weight: bold;
      }
    }
  }
}
